html {
    scroll-behavior: smooth;
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* header */

header {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

/* navigation */

nav {
    margin-right: 40px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    color: black;
}

nav li:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, .4);
}

/* banner */

.banner {
    margin: 0;
    width: 100%;
    height: 250px;
    background-image: url("../images/portfolio-banner-1176676_1280.png");
    background-size: cover;
    position: relative;
}

.banner h2 {
    background: rgba(72, 61, 139, 0.7);
    padding: 10px;
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 1.5vw;
}

/* hide that a part of the banner is a link; these aren't the focus*/

.remove-link a:link, .remove-link a:visited, .remove-link a:hover, .remove-link a:active {
    text-decoration: none;
    background: none;
    color: white;
}

/* main section */

section {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-right: 100px;
}

.right-side {
    border-right: 2px solid white;
    font-size: 48px;
    color: white;
    flex-basis: 50px;
    text-align: right;
    padding-right: 15px;
    min-width: 150px;
}

.left-side {
    color: white;
    margin-left: 20px;
}

.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.child {
    flex: 1 0 0;
    margin: 1%;
    padding: 1%;
    position: relative;
}

.child img {
    width: 100%;
    height: auto;
    min-width: 300px;
    border-radius: 10px;
}

.child:last-child {
    flex-basis: 100%;
}

.title {
    background: rgba(72, 61, 139, 0.7);
    padding: 1px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 24px;
    border-radius: 10px;
    line-height: 0%;
}

.title p:first-child {
    font-size: 36px;
    font-weight: bold;
}

/* style contact section */

#contact-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#contact-me p {
    border-bottom: 5px solid white;
    padding-bottom: 5px;
    margin-bottom: 0;
}

/* For screens 768px and smaller */

@media screen and (max-width: 768px) {

    section {
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
    }
    .right-side {
        border-bottom: 2px solid white;
        border-right: 0;
        padding: 0px;
        min-width: auto;
    }

    .left-side {
        text-align: justify;
    }

    #contact-info {
        flex-direction: column;
        justify-content: space-evenly;
    }
}